[2014-03-01 04:05] hstove opened #3 "Preserve indentation on newline"
When a newline is created in a `haml` file, the cursor starts with no indentation. It would be nice if the indentation was at least as far as the previous line.

In Atom:

![haml indentation bug](https://f.cloud.github.com/assets/1109058/2300526/a3544a5a-a0f6-11e3-8233-4f95c6346e8f.gif)

In Sublime:

![haml indentation sublime](https://f.cloud.github.com/assets/1109058/2300527/a9022b5c-a0f6-11e3-8

[2014-03-05 18:05] #3 closed, assigned to nobody

[2014-03-07 16:49] nathos opened #6 "Haml, not HAML"
According to its original creator, it's spelled "Haml", not "HAML":

https://twitter.com/hcatlin/status/301173144453005312

[2014-03-21 04:19] Fustrate opened #7 "Over-Aggressive Indentation"
Trying to type multiple siblings in a row tends to create child elements instead.

Type the following:

[code]

and you'll see it come out as:

[code]

Trying to be smart about indentation might be a bit more trouble than it's worth because there's no way to tell if you want empty elements or nested elements. Even in cases with no ambiguity, such as inline content, it wants to indent everything. I

[2014-03-25 16:10] #6 closed, assigned to nobody

[2014-04-08 10:27] idoo opened #8 "comment"
Not working comment in hamlc

[2014-05-06 21:45] alexmarchant opened #10 "Ran into a parsing error with the following code:"
Granted, this is a ridiculous line of haml, but looks like it runs into a string parsing bug somewhere near the end of the line:

![screen shot 2014-05-06 at 5 43 09 pm](https://cloud.githubusercontent.com/assets/953244/2896032/83261bc8-d567-11e3-8dc9-f17369906851.png)

Here is the code:

[code]

[2014-05-14 07:57] zinkkrysty opened #11 "Highlight inline (interpolated) ruby code"
![image](https://cloud.githubusercontent.com/assets/570771/2968229/33055952-db3d-11e3-996e-b17816680f57.png)

Code that should have ruby syntax highlighting:

[code]

See [reference](http://haml.info/docs/yardoc/file.REFERENCE.html#ruby_interpolation_).

[2014-06-16 08:54] Mte90 opened #12 "Support for :php filter"
I use grunt-haml-php that insert a new filter :php, is possible to integrate in this package?

[2014-07-14 12:46] 2metres opened #13 "Syntax highlighting not working?"
![screen shot 2014-07-14 at 10 44 24 pm](https://cloud.githubusercontent.com/assets/924528/3570735/c257c288-0b54-11e4-9555-61efd7263bcd.png)

Any ideas why this might be happening?

[2014-07-25 18:35] infused opened #14 "Support for multiline syntax highlighting"
Commands split accross multiple lines ending in commas or piples lose all syntax highlighting

![haml_multiline_commas](https://cloud.githubusercontent.com/assets/1780/3706493/14f035ba-142a-11e4-957d-a8eaf0b42523.png)

![haml_multiline_pipes](https://cloud.githubusercontent.com/assets/1780/3706520/4b2997ca-142a-11e4-89d7-163324ab23b0.png)

Both of these formats are [supported by HAML](http://haml.

[2014-08-29 21:44] richrace opened #18 "Attributes in hamlc within {} don't have correct highlight"
Eg
`.some-div{data-attribute: 'test'}`

Will work but the `data-` won't have the correct highlight.

[2014-10-25 15:51] mindaslab opened #19 "Installation is failing"
OS: Ubuntu 14.04  64 Bit

Atom Version: 0.137.0

Tried to install this extension, and got this message

[code]

[2014-11-19 18:50] jclusso opened #20 "Multiline"
multiline code highlighting doesn't work in ruby haml.

[code]

[2014-11-24 19:22] #11 closed, assigned to nobody

[2014-11-24 19:23] #14 closed, assigned to nobody

[2014-12-14 06:32] #19 closed, assigned to nobody

[2014-12-30 09:49] zinkkrysty opened #23 "Escaped and unescaped ruby code `!=` and `&=` not highlighted"
Code starting with `!=` or `&=` doesn't get highlighted as per the documentation: http://haml.info/docs/yardoc/file.REFERENCE.html#unescaping_html

[code]

[2015-01-16 01:00] anomaly256 commented on #13
Not sure if this is the same issue here or something completely new, but I too am not getting any HAML syntax highlighting in atom. In fact, if I ctrl-shift-l to manually select a syntax, HAML does not appear at all.  I've tried uninstalling language-haml then re-installing it, Atom just never seems to pick it up.

I found this in the js console after atom had started:

[code]

[2015-01-16 01:29] anomaly256 commented on #13
Actually I seem to have fixed my issue, which may also fix for others. I've issued a PR which replaces the double quotes with single quotes and removes commas from the offending cson blocks

[2015-01-16 13:17] freetonik commented on #13
anomaly256's PR fixes the bug for me (OS X 10.10.1, latest Atom)

[2015-01-16 16:30] cannikin commented on #13
Can anyone else confirm this is fixed for them with 0.15.0?

[2015-01-16 16:34] cannikin commented on #8
I'm gonna close this for now.

[2015-01-16 16:34] #8 closed

[2015-01-16 16:34] #10 closed

[2015-01-16 16:35] cannikin commented on #18
I'm going to close this for now.

[2015-01-16 16:35] #18 closed

[2015-01-16 16:36] cannikin commented on #23
I haven't been using Atom lately but if anyone can fix this I'll happily merge it in.

[2015-01-16 19:36] dgcliff commented on #13
@cannikin this appears to be fixed for me in 0.15.0, thank you

[2015-01-16 19:53] #13 closed

[2015-02-19 22:13] envygeeks opened #25 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-03-04 10:03] iRet commented on #20
I found a problem with end of attributes '}' regex it works wrong when I'm using hashes inside attributes
![image](https://cloud.githubusercontent.com/assets/46217/6481429/8e4fd38c-c287-11e4-92c5-ab365b239eaf.png)

Just created PR to fix it
![image](https://cloud.githubusercontent.com/assets/46217/6481450/cd4fc4ac-c287-11e4-8598-0afab49c9b7e.png)

[2015-03-04 10:06] jclusso commented on #20
@iRet do you have any idea how to fix the ruby syntax?

[2015-03-04 10:10] iRet commented on #20
@jclusso oh, haven't seen it yet, let me try

[2015-03-04 10:22] jclusso commented on #20
@iRet if you fix that I'll be so happy :)! I gave up and I think @richrace did to because we both couldn't.

[2015-03-04 12:36] iRet commented on #20
@jclusso just fixed ruby strings and updated PR
Still see some issues with html tags but that's enough for today :) will dig it later
![image](https://cloud.githubusercontent.com/assets/46217/6483611/1c0de00a-c29d-11e4-9f5e-59600d2a9e72.png)

[2015-03-05 02:32] jclusso commented on #20
Awesome, @iRet! I'll try it out and see how it works

[2015-03-05 05:25] iRet commented on #20
@jclusso sorry but it still buggy. Actually I can figure it out for sublime haml package, it's pretty same ported textmate bundle with a minor changes, but python regexp support negative lookahead, so we can say 'end of line but not prepended with comma'. Will try again this weekends.

[2015-03-05 16:40] jclusso commented on #20
@iRet cool! I appreciate you trying to fix this

[2015-03-17 18:44] jclusso commented on #20
@iRet did you ever get the ruby line working?

[2015-03-17 19:23] cannikin commented on #20
Anything mergeable or we still looking at fixes?

[2015-03-17 19:23] iRet commented on #20
@jclusso not fully, actually attributes and ruby lines looks ok now, but it caused new issues with haml/html tags
![test_html_haml_-__users_artyom_desktop_-_atom](https://cloud.githubusercontent.com/assets/46217/6695629/dac3fee8-cd0c-11e4-94b8-cf2d12137733.png)
Still had no time for a deeper look into it. And switched to sublime, where I'm using similar fixes but it not causes this tags bug.
I've

[2015-03-17 19:24] #12 closed

[2015-03-17 19:40] iRet commented on #20
It seems like problem not in rubyline end pattern, just tried to add quotes to it, no effect. And tags higlighted as text not as ruby code.
It could be in html tag start pattern, but it is almost the same like in sublime package, so weird.

[2015-03-17 20:29] jclusso commented on #20
Yea, idk if it's of any use but I linked above to a working syntax highlighter for vim written by tpope. I'm not well enough versed to pick the regex apart or i'd do it myself. @iRet

https://github.com/tpope/vim-haml/blob/master/syntax/haml.vim

[2015-04-02 12:43] uSide opened #29 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-04-02 12:43] #29 closed

[2015-04-04 09:29] MinervaP opened #30 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-04-06 08:36] urkoalber opened #31 "Package.loadSettings is deprecated."
Store package settings files in the `settings/` directory instead of `scoped-properties/`
[code]

[2015-04-08 15:39] #25 closed

[2015-05-04 23:51] renchap opened #32 "Interpolated Ruby is not highlighted within plaintext lines"
This is valid haml, interpolation can occur in plain lines :
[code]
Here `test.number` is not colored as ruby.

[2015-05-05 09:30] Jerome67000 opened #33 "Haml elements with multi words separated by '-' do not highlight correctly"
Hi,

When i use a framework like Ionic, the highlight element with multi words stop after the first word :

![untitled](https://cloud.githubusercontent.com/assets/7358899/7470062/205032dc-f31a-11e4-93cb-2c5351704da1.png)

[2015-05-19 09:02] adampope opened #34 "Multiple #{} blocks are not highlighted correctly when separated by a comma"
I have a line that uses multiple interpolation blocks  e.g.  `#{@var}, #{@var2}`

The parser takes the second # to be the start of a comment.  If I remove the comma then the second block is highlighted properly.  When it's highlighted incorrectly all code below it in the document is then not highlighted correctly.

![screen shot 2015-05-19 at 10 01 31](https://cloud.githubusercontent.com/assets/14

[2015-05-28 10:34] guiiruiz commented on #33
@Jerome67000 I was having the same issue as you and I fixed it.
For the moment you can find the solution here #35.

[2015-05-28 12:44] Jerome67000 commented on #33
Wow thanks for the hack, its works fine ;)

[2015-05-28 12:44] #33 closed

[2015-05-28 16:37] cannikin opened #36 "Looking for new maintainer"
I haven't used Atom in a quite a while now so I'm probably not the best person to keep this package up to date. Anyone out there want to take over?

[2015-05-28 16:59] richrace commented on #36
I can if no one else wants to.

But not sure if I'll be still using haml and hamlc in the coming months.

[2015-06-02 00:12] cannikin commented on #36
Well, no one else has stepped up, you still interested?

[2015-06-02 07:32] richrace commented on #36
Yea I can still do it. We could leave this open for a bit to see if anyone else comes forward?

[2015-06-14 13:22] freemanoid opened #37 "Commenting out grey out excess text"
atom 0.209
language-haml 0.21

![atom_haml_language_bug](https://cloud.githubusercontent.com/assets/180154/8148698/510f51d0-12b1-11e5-8509-8ba22484b603.gif)

[code]

I believe that the `-` and `root_path` at the 2 line shouldn't be greyed when I comment out the 1st line.

[2015-06-25 21:22] ezekg commented on #37
Hitting this issue as well.

[2015-06-25 21:25] ezekg commented on #36
If @richrace isn't interested anymore, I might be able to take it on or at least help him out. I was going to fork this anyway to add true PHP Haml ([MtHaml](https://github.com/arnaud-lb/MtHaml)) support.

[2015-06-26 10:46] pirminis commented on #37
+1

this is extremely annoying issue. the next line after the comment gets comment's CSS classes like it was a commented line. but it's not.

[2015-07-02 04:04] davidcpell opened #38 "not found in package manager"
I don't get any results in the Atom package manager when I search for language-haml. Is it still available?

[2015-07-08 04:46] davidcpell commented on #38
nm, installed with `apm`

[2015-07-08 04:46] #38 closed

[2015-07-15 00:44] Superpencil commented on #37
Same here, in HAML with Rails, if I comment out a line with -# or / or // the subsequent line in italics and some text greyed out as well.

<img width="290" alt="screenshot 2015-07-15 12 26 55" src="https://cloud.githubusercontent.com/assets/3094044/8688299/72f0b6f4-2aee-11e5-8015-9b5ead8e55d7.png">
<img width="349" alt="screenshot 2015-07-15 12 40 12" src="https://cloud.githubusercontent.com/asse

[2015-07-22 10:22] vemv-kantox opened #39 ":scss filter"
`:scss` filter is not recognised and breaks syntax highlighting.

As a best-effort fix, you could make `:scss` be synonymous with `:css`. It should also be possible to get actual scss highlighting, which might be worth the effort.

[2015-07-24 16:04] nekath commented on #37
+1
I think my issue is quite related:

Atom: 1.0.2
language-haml 0.21

`%a.tab#pricing-tab{ href: '#pricing', data: { toggle: 'tab' } } Pricing/Availability`
Whole #pricing-tab and text to the end of the line is grayed out as comment.

[2015-08-12 00:16] gkrawiec commented on #37
+1

[2015-08-20 04:53] kakipo commented on #37
+1

[2015-08-25 09:57] kausters commented on #37
+1 with haml native comments

![haml 1](https://cloud.githubusercontent.com/assets/3408061/9463930/c71406f0-4b28-11e5-87e4-e679e67f012e.png)
![haml 2](https://cloud.githubusercontent.com/assets/3408061/9463934/cbadbce2-4b28-11e5-9410-f8cbedf8a46b.png)

[2015-09-01 23:00] olivierlacan commented on #20
Anyone still working on this? This is still an issue in `0.21.0`.

[2015-09-01 23:02] cannikin commented on #20
Sorry, I was supposed to be transferring ownership of this to someone who had the time to devote to maintaining it. @ezekg offered to take it over a few months ago but I dropped the ball. Anyone else?

[2015-09-17 14:30] ezekg commented on #20
@cannikin, if needed, I would like to help out with this still. I use this package every day.

[2015-09-17 14:37] cannikin commented on #20
Great! Any idea what steps we go through to transfer ownership? Moving the repo should be easy? But I don't know about the APM package...

[2015-09-17 17:43] ezekg commented on #20
I'm not entirely sure. I've never done that. I can look into it later today, though.

As far as I can tell, I think I have this issue resolved by rewriting the `ruby haml.cson` file (essentially just copying the current Sublime text implementation), and cleaning up a couple regexes (adding a little recursion for commas/blocks). I'll post it here soon and see if we can get a new version out to test

[2015-09-17 17:44] olivierlacan commented on #20
I'd be down to help out once @ezekg takes over.

This is how you transfer ownership: https://atom.io/docs/latest/behind-atom-maintaining-your-packages#transferring-ownership

[2015-09-17 17:47] cannikin commented on #20
Great! Transfer initiated! Apparently you just transfer ownership of the repo and the package will magically go over as well.

[2015-09-17 20:46] ezekg commented on #20
I think I have everything working nicely. Still a couple issues with filters and trimmed whitespace, but nothing huge. Looking good. I'll continue to test this week before creating a new beta version. :+1:

![image](https://cloud.githubusercontent.com/assets/6979737/9945479/14a08790-5d53-11e5-9760-f7d0efeaead7.png)

[2015-09-17 20:59] jclusso commented on #20
Nice that this finally looks to be getting fixed! Too bad we've started a heavy migration to Slim since Haml is just not nearly as fast. :(

[2015-09-17 21:01] olivierlacan commented on #20
@ezekg More :cake: for you!

[2015-09-17 22:23] ezekg commented on #37
See #20 for current progress on this issue.

[2015-09-18 21:53] ezekg commented on #20
Everybody test out the new version. Let me know if you find any new issues or edge cases I missed.

[2015-09-18 22:07] #36 closed

[2015-09-18 22:08] ezekg commented on #39
Added in `0.22.0`.

[2015-09-18 22:08] #39 closed

[2015-09-18 22:09] ezekg commented on #31
I believe this issue has been fixed. Let me know if it's still an issue for you.

[2015-09-18 22:09] #31 closed

[2015-09-18 22:09] ezekg commented on #30
I believe this issue has been fixed. Let me know if it's still an issue for you.

[2015-09-18 22:09] #30 closed

[2015-09-18 22:10] ezekg commented on #23
Should be fixed in `0.22.0`.

[2015-09-18 22:10] #23 closed

[2015-09-18 22:10] #20 closed

[2015-09-18 22:11] ezekg commented on #37
Should be fixed in `0.22.0`.

[2015-09-18 22:11] #37 closed

[2015-09-18 22:11] ezekg commented on #34
I'll tackle this next. I believe this is also related to https://github.com/ezekg/language-haml/issues/32.

[2015-09-18 23:56] shaungrady opened #43 "Syntax highlighting breaks when text is on the same line"
Broken:
![image](https://cloud.githubusercontent.com/assets/52413/9973340/305c812c-5e26-11e5-8bd5-1e98371a71dd.png)

Not broken:
![image](https://cloud.githubusercontent.com/assets/52413/9973341/375ae34c-5e26-11e5-857e-1837a53820e1.png)

[2015-09-19 14:25] ezekg commented on #43
Thanks for the report. This should be fixed in `0.22.1`.

[2015-09-19 14:25] #43 closed

[2015-09-21 22:28] ezekg commented on #34
There's multiple issues with syntax highlighting within plain text, shown below:

![image](https://cloud.githubusercontent.com/assets/6979737/10006820/1572c0ee-6086-11e5-8dfd-2b17feeda52b.png)

This is a tough one, but I'm working on a couple possible solutions.

[2015-09-22 17:51] ezekg commented on #34
This is now fixed in `0.22.2`. I am still working on getting proper syntax highlighting for interpolation inside plaintext.

[2015-09-22 17:51] #34 closed

[2015-09-23 14:29] olivierlacan opened #44 "Filter highlighting only works up to first linebreak"
@ezekg You asked for feedback and this is the only odd thing I've noticed since the last release (0.22.2):

This `:javascript` filter is highlighted properly:
![image](https://cloud.githubusercontent.com/assets/65950/10047724/76f65d1e-61dd-11e5-93c0-b3348d10c808.png)

While this one isn't:
![image](https://cloud.githubusercontent.com/assets/65950/10047783/c692ba34-61dd-11e5-8f07-a660fb189c94.png)

[2015-09-23 14:49] ezekg commented on #44
Thanks. I've had a really tough time with this one. I can't find a good regex for matching a filter's 'end' when the white space gets trimmed. If you left the white space there, it would work fine. But, since it gets trimmed, the regex thinks that the filter has been exited and that the remaining text is plaintext. You can see the issue with the trimmed whitespace below (one has been trimmed, the

[2015-09-23 15:51] olivierlacan commented on #44
I knew my pedantic whitespace trimming ways would one day come to bite me again. :-)

This is really a tricky one. I'll ask people more familiar with fancy regex.

[2015-09-23 16:22] ezekg commented on #44
Let me know if you figure anything out. I've tried multiple ways, but nothing seems to handle every edge case.

[2015-09-23 19:38] ezekg commented on #44
You would have to be able to handle cases like this:
[code]

As you can see, I think Github's syntax highlighting handles this the same way I'm currently handling it.

[2015-10-14 06:16] tagrudev opened #46 "Unexpected string in ruby haml.cson"
I've just updated the package and now I get this one and I think I am not they only one check - https://github.com/atom/atom/issues/8970

Here's a stack trace

[code]

Ideas ?

[2015-10-14 16:37] ezekg commented on #46
I think I remember in an earlier issue (before I inherited this repo) some machines having issues with double quotes being used in the grammar file. I change it to use single quotes. Let me know if the newest version fixes the issue. If not, could you tell me which version of Atom you're using and what operating system you're running?

[2015-10-15 06:57] tagrudev commented on #46
v 0.23.0 fixed the problem, thanks a lot @ezekg

[2015-10-15 13:28] ezekg commented on #46
Awesome. Glad it was an easy fix. :+1:

[2015-10-15 13:28] #46 closed

[2015-10-15 15:17] ezekg opened #47 "Boolean Haml attributes are not highlighted correctly when using HTML-esque syntax"
![image](https://cloud.githubusercontent.com/assets/6979737/10518211/f9b36856-7325-11e5-849d-4deac781f38c.png)

[2015-10-15 16:58] #47 closed

[2015-10-21 15:07] Fuffi opened #48 "Highlight bug introduced recently (screenshot included)"
This kind of bug started very recently:

![screen shot 2015-10-21 at 16 04 34](https://cloud.githubusercontent.com/assets/1379179/10640701/af85b2ba-780d-11e5-83d7-eddf1ca83e4c.png)

[2015-10-21 16:32] #48 closed

[2015-10-21 16:33] ezekg commented on #48
Sorry about that. I must've introduced that issue when I added syntax highlight for a few PHP keywords. Fixed in newest version (0.23.2).

[2015-10-21 21:28] #32 closed

[2015-10-21 21:29] ezekg commented on #32
Whoooooooo :tada:

![image](https://cloud.githubusercontent.com/assets/6979737/10650784/f01df9a6-7810-11e5-9e71-3c0a152c9c11.png)

[2015-10-28 17:51] mendelk commented on #36
@ezekg I use PHP Haml. Any luck on getting this to work?

[2015-10-28 18:01] ezekg commented on #36
@mendelk What do you mean? It works for PHP Haml, using the default `.haml` extension. What extension are you using?

[2015-10-28 18:12] mendelk commented on #36
@ezekg My bad.

I understood from the comment that it wasn't yet implemented.

Trying it out now, and it in fact works beautifully.

Thanks!

[2015-10-28 18:14] ezekg commented on #36
No problemo. I added full support for PHP keywords a couple weeks ago. Let me know if you find any issues. :+1:

[2015-10-28 18:18] mendelk commented on #36
Will do.

[2015-11-23 19:06] inkstak opened #51 "Single vs double quotes in new haml syntax"
Syntax highlighting don't work when using a single quote in new haml syntax :

![shot](https://cloud.githubusercontent.com/assets/474554/11346582/927facf0-921d-11e5-9086-879d5d547e80.png)

[2015-11-23 19:11] ezekg commented on #51
Try updating to the latest version. This should've been fixed a few weeks ago.

[2015-11-23 19:56] inkstak commented on #51
Yes, I saw that. This doesn't work because of some Atom cache.
Closing and opening Atom was not enough.

I cleaned everything I could and it seems to work.

[2015-11-23 19:56] #51 closed

[2015-11-23 21:30] ezekg commented on #51
Great. Usually you can do `⌘+⇧+P`, type reload and select "Window: Reload" – that's what I use while developing/testing this package.

[2015-12-02 14:31] kemelzaidan opened #52 "Syntax highlight not working on block comments"
Syntax highlight is not showing block comments as comments. It happens either on html and haml comments. Eg on a haml comment:

[code]

The hole block above should be shown as a comment.

[2015-12-02 16:22] ezekg commented on #52
Nice catch. Should be fixed in `0.23.8`.

[2015-12-02 22:24] ezekg commented on #52
Reverted those changes, actually. This will need a bit more work to fully support. I'll keep you posted.

[2015-12-02 22:39] #52 closed

[2015-12-02 22:40] ezekg commented on #52
Okay, I think this is working now. Let me know if you find any issues.

[2015-12-03 16:52] #44 closed

[2015-12-03 16:53] ezekg commented on #44
Figured it out. Let me know if you find any issues. :+1:

[2015-12-03 17:05] olivierlacan commented on #44
Nice! Checking it out :-)

[2015-12-03 17:25] olivierlacan commented on #44
Fix confirmed, great work @ezekg! :-0

[2015-12-03 17:31] ezekg commented on #44
Boom! 0 open issues.

(•_•)
( •_•)>⌐■-■
(⌐■_■)

[2015-12-07 21:38] rubenmoya opened #53 "Mixing text and variables hightlighting"
I've discovered that you can mix text and variables using Ruby/Haml interpolation like this:

```%p Lorem ipsum #{variable} dolor sit amet```

I think it would be nice if it were in other color and not white like it is right now:

<img width="402" alt="screen shot 2015-12-07 at 22 36 33" src="https://cloud.githubusercontent.com/assets/905225/11640494/02c3e84e-9d33-11e5-9688-ac37ecdeea9d.png">

May

[2015-12-07 22:29] ezekg commented on #53
Well, that's going to vary depending on your Ruby syntax theme. Most syntax themes have white variables by default. If you want to change it, you can add something like this into your stylesheet config (**Atom**->**Open Your Stylesheet**):

[code]

That's perfectly valid Haml, btw. I use interpolation like that all of the time. :+1:

[2015-12-07 22:29] #53 closed

[2015-12-08 08:19] rubenmoya commented on #53
Thank you! That did the trick! :+1:

[2015-12-08 12:57] ezekg commented on #53
No problem :+1:

[2015-12-14 19:20] pmsaue0 opened #54 "IE conditional comments make nested code sytax-highted as comments"
In our app we use some conditional `html` tags for versions of IE.  In the `23.4` version of this plugin I was able to successfully see all correct syntax highlighting, but in the latest version, and at least `23.9`, I see everything that's indented in the IE conditional comment as being read by `language-haml` as a comment.

This makes sense, and is "correct" as the body of the code is technicall

[2015-12-15 05:06] ezekg commented on #54
Thanks for the report. Even though the way it is now is like you said, the 'correct' way (and the way the default HTML syntax highlighting handles it), I understand wanting to have syntax highlighting for those big conditional blocks. Check out the newest version (`0.23.14`) for the patch. Let me know if that fixes the issue for you. :+1:

[2015-12-15 18:41] pmsaue0 commented on #54
This does fix this case for me.  Thanks!   :muscle:

[2015-12-15 18:41] #54 closed

[2015-12-15 18:56] ezekg commented on #54
No problem! 👍

[2016-01-18 08:50] nateq314 commented on #7
If this is solved, then why is the first line in a new section being automatically indented? For example if I create a blank, new .haml file and try to type in:
[code]

what I actually get is
[code]

What's going on here? Is this intentional? Suggestions to disable?

[2016-01-18 14:45] ezekg commented on #7
@nateq314, you should be able to go to your 'Settings' panel, click 'Packages', then type in 'haml' and select 'Settings' on the language-haml package. After that, scroll down a bit to the 'Ruby Haml Grammar' section and _uncheck_ 'Auto Indent'.

![image](https://cloud.githubusercontent.com/assets/6979737/12394141/ad961196-bdbf-11e5-9f6b-6925a686f11f.png)

[2016-01-19 03:37] nateq314 commented on #7
Right, but then that results in no indentation ever. All I want is for the cursor to show up at the same indentation level as the previous line. For that to happen, you have to have “Auto Indent” checked. But then doing so results in the issue reported in my previous message.

From:  Ezekiel Gabrielse <notifications@github.com>
Reply-To:  ezekg/language-haml <reply@reply.github.com>
Date:  Monday,

[2016-01-19 19:42] ezekg commented on #7
Hmm, you're right. I'll check it out and push a fix within the next few days. Sorry about that.

[2016-01-19 19:48] #7 closed

[2016-01-19 19:49] ezekg commented on #7
Nevermind on that timeframe, I found the issue. I just removed the indent pattern altogether, as it's not ever needed as far as I can get. It only causes issues.

[2016-01-19 20:46] nateq314 commented on #7
Thanks!

[2016-04-25 14:47] calebmeyer opened #56 "Pipes (for line continuation) break syntax highlighting"
<img width="930" alt="screen shot 2016-04-25 at 9 42 45 am" src="https://cloud.githubusercontent.com/assets/3342777/14787690/1d5da4ba-0aca-11e6-9e31-dcae29d87f1b.png">

I took this screenshot with One Dark Syntax so that we'd have a common test ground. The markup:

[code]

It appears that pipe characters break the syntax highlighting. They also are highlighted differently (under my usual syntax th

[2016-04-25 16:49] ezekg commented on #56
Thanks for the repo. You're right, I wasn't aware that the [multi-line syntax requires a trailing pipe](http://haml.info/docs/yardoc/file.FAQ.html#q-multiline). I usually don't use pipes, so that's why I didn't catch it. I'll get a fix out soon.

[2016-05-09 18:01] ezekg commented on #56
I haven't forgotten about this, it's just proven a lot harder to fix than I initially thought. Hopefully I'll have some time this weekend to work on this a bit more.

[2016-05-09 21:04] calebmeyer commented on #56
No problem. Thanks for your work!

[2016-11-02 15:25] jonesmac opened #58 "Issue with rubocop linter"
Please see here - https://github.com/AtomLinter/linter-rubocop/issues/145#issuecomment-235737672

In haml files that use String Interpolation '#{}', it seems to be using an incorrect scope.

[2016-11-02 20:18] ezekg commented on #58
I will check this out later this week. In the meantime, pull requests are always welcome!

[2016-11-14 22:45] ezekg commented on #58
Hey, I'd love to get some help here. I've tried modifying the scopes, but it breaks the Ruby syntax highlighting for some reason. I'll try to dig in more when I have time, but I'm pretty busy atm.

[2017-05-16 14:21] ezekg commented on #58
I believe this is now resolved with #60. Let me know if it is still an issue.

[2017-05-16 14:21] #58 closed

[2017-05-16 16:31] Alhadis commented on #56
This is happening because a region of embedded Ruby highlighting isn't terminating at the closing `}` character:

<img src="https://cloud.githubusercontent.com/assets/2346707/26116857/f292902e-3aa7-11e7-9275-3dc85a58617f.png" width="400" alt="Figure 1" />

If you remove the trailing pipe from the line containing the closing brace, everything suddenly highlights fine:

<img src="https://cloud.githu

[2017-05-16 17:04] ezekg commented on #56
@Alhadis from my tests, that works great. I'll cut another patch release in a minute. Appreciate the help in getting this cleaned up. 🙂

[2017-05-16 17:06] Alhadis commented on #56
Actually, it might be worth waiting until another issue is fixed with comments. [See here](https://github.com/github/linguist/pull/3627#issuecomment-301805747).

[2017-05-16 17:08] Alhadis commented on #56
Here's an example of an affected code block:

[code]

Notice how `#{not_comment}` is being coloured like, well, a comment.

[2017-05-16 17:09] ezekg commented on #56
Hmm, it renders fine in Atom. Do you know why it's rendering different on GitHub?

![image](https://cloud.githubusercontent.com/assets/6979737/26118693/6b4b84f8-3a30-11e7-9047-c330491542d5.png)

[2017-05-16 17:13] Alhadis commented on #56
Thats currently what I'm waiting on GitHub staff to help with before I can properly investigate. =) The [webapp we use](https://github-lightshow.herokuapp.com/) to preview syntax highlighting is showing the same result as Atom does. This is probably due to outdated dependencies (it's using an ancient version of Linguist to generate previews), so... we'll see once the upgrade is finished.

[2017-05-16 17:16] ezekg commented on #56
Gotcha! Sounds good. I'll subscribe that issue so I'll know if I need to do anything, then I can cut a new patch for this issue once that's all figured out.

[2017-05-18 16:41] ayaankazerouni commented on #56
OS: Ubuntu 16.04
Atom: 1.17.0
language-haml: 0.24.2

Hi! This seems related, but if it's not, I can create a new issue. I'm seeing syntax highlighting breaking on line continuation as well. But I'm not using the pipe character, I'm breaking to the next line after a comma, which [is allowed according to the Haml docs](http://haml.info/docs/yardoc/file.REFERENCE.html#attributes). Removing the line b

[2017-05-18 22:11] ezekg commented on #56
@ayaankazerouni could you try the latest patch version?

[2017-05-18 22:11] #56 closed

[2017-05-19 15:45] ayaankazerouni commented on #56
Ok, everything looks good now. Thanks!

[2017-05-24 17:58] ArthurFoucher opened #62 "Can't use comment key-binding on version 0.24.4"
I'm using the language-haml package to edit haml-coffeescript files in Atom 1.17.0 on my MBP running OSX 10.11.6.
I updated the package yesterday and since then the `cmd-/` key binding no longer comments out lines. I used the keybinding resolver panel to make sure that it does resolve to `editor:toggle-line-comments` but I'm running out of ways to troubleshoot this issue, any idea ?

Thanks

[2017-05-24 21:52] #62 closed

[2017-05-24 21:53] ezekg commented on #62
Hey I just pushed a fix for this and cut a new version, v0.24.5. Let me know if that works!

[2017-05-24 22:57] ArthurFoucher commented on #62
Yes it's fixed now ! Thanks for the super quick response 👍

[2017-05-24 23:43] ezekg commented on #62
No problem. 🙂

[2017-05-27 12:03] jDeppen commented on #38
from the terminal
`apm install language-haml`
_(posterity's sake)_

[2017-06-23 15:27] pedantic-git opened #63 "Adds 'end' when autocompleting blocks"
Sorry if I'm misunderstanding something - this could turn out to just be my settings.

It seems like `language-haml` calls into various autocompletions from the `language-ruby`.

When a line ends with `do`, it adds a line below with `end`, which would be correct in Ruby but not in Haml. The same thing doesn't happen for `if`-statements so I'm guessing whatever override you have for those should al

[2017-06-27 16:41] lewisinc opened #66 "Can't comment javascript in :javascript sections"
Not sure what technical limitations you're working with, but attempting to comment javascript using cmd-/ instead prepends the usual `-#` instead of `//` to that line. Is this fixable or are you limited to having a single commenting style per filetype?

[2017-06-27 17:34] ezekg commented on #66
Yeah, this issue has always bugged me. I think it's because the [comment scopes](https://github.com/ezekg/language-haml/blob/master/settings/language-haml.cson) are set to `.text.{LANG}` (in our case `LANG = haml`), while the embedded scopes (what the filters are defined as) is `.meta.embedded.{LANG}` _inside_ of the `.text.haml` scope, so it always uses Haml comments. I'll try and dig in soon and

[2017-06-27 17:34] ezekg commented on #63
Good catch. I'll try and see what is causing this. I'm thinking it's something inside: https://github.com/ezekg/language-haml/blob/master/snippets/language-haml.cson.

[2017-06-28 08:40] pedantic-git commented on #63
Thanks! I've never worked in Atom's snippets code so I'm afraid I'd be at a loss but let me know if there's anything I can do re: reproducing it etc.

[2017-07-07 02:44] ezekg commented on #63
Fixed in v0.25. 👍

[2017-07-07 02:44] #63 closed

[2017-07-14 19:07] darrenterhune opened #68 "Fix link_to snippets"
I'd like to fix the `link_to` snippets. Currently they are as follows:

[code]

But as you can see the `prefix` is the exact same for all 3 options, so the last takes precedence _I think_ and the others don't actually do anything.

IMO the options aren't well suited to, well suit everyones needs either.

1) `link_to (route)` not everyone would use the `_url` scheme. I personally never use that ins

[2017-08-11 21:05] #66 closed

[2017-08-11 21:08] ezekg commented on #68
Sorry I'm just now getting to this. I like your recommendation in point 1. I'll merge a PR if you're up for creating one with whatever you feel is best. I don't use snippets, so I'll leave it up to you.

[2017-08-29 15:11] jamby opened #70 "Colors seem to be off on Atom Material Dark?"
So I'm using this package along with Atom Material theme and Atom Material Dark syntax.

Seems like the colors don't color correctly on classes, ids, and other various things and it blends together too much with regular words.

![image](https://user-images.githubusercontent.com/250728/29828457-bfcf7bac-8caa-11e7-8d2d-fdfc3ca28185.png)

[2017-08-29 15:59] ezekg commented on #70
This looks like an issue with the syntax theme, not this package. I no longer use Atom, but feel free to dig in and submit a pull request if you think this is indeed an issue and I'll get it merged.

[2017-08-29 19:11] ezekg opened #71 "Looking for maintainer(s)"
I no longer use Atom. Please comment below if you are interested in taking over this package.

[2017-09-04 10:55] FunkyloverOne opened #72 "Interpolation with question mark without quotes in :javascript filter screws up highlighting"
Here's the screenshot
![screenshot from 2017-09-04 13 55 17](https://user-images.githubusercontent.com/6454731/30023576-b8287e62-9178-11e7-8dd9-1f57a2ce3707.png)

[2017-09-11 20:44] HarlemSquirrel commented on #71
I use Atom daily but have not done much with packages. I'd love to help out though!

[2017-09-11 20:49] HarlemSquirrel opened #73 "Syntax highlighting html attributes breaks with nested attributes."
![screenshot from 2017-09-11 16-47-42](https://user-images.githubusercontent.com/6445815/30296094-fa7c8f7c-9710-11e7-8067-4f442e605b95.png)

It works when the nested attributes are last.

![screenshot from 2017-09-11 16-48-45](https://user-images.githubusercontent.com/6445815/30296137-1b4b9cb6-9711-11e7-8605-2c37d27ea122.png)

[2017-09-19 17:54] ezekg commented on #71
Thanks, @HarlemSquirrel. Added you as a collaborator. What is your npm username? I can give you publish access if you'd like that as well.

[2017-09-19 19:26] HarlemSquirrel commented on #71
Thanks, @ezekg ! My npm username is the same. https://www.npmjs.com/~harlemsquirrel

[2017-09-29 18:08] HarlemSquirrel commented on #72
It seems like this may actually not be valid Haml

[code]

[code]

Even the syntax highlighting here on Github does not like it.

[2017-09-29 18:12] HarlemSquirrel commented on #68
Any thoughts, @darrenterhune ?

[2017-09-29 18:22] darrenterhune commented on #68
Sorry guys, just been absolutely swamped. I think I did fix this, but didn't have enough time to review and create a pull request. Will try and get to this soon!

[2017-09-29 20:11] darrenterhune commented on #68
I think we also need to over-ride this by adding another prefix https://github.com/atom/language-ruby-on-rails/blob/master/snippets/language-ruby-on-rails.cson#L541-L543

I'm not sure why they would have `text.haml` but I guess that's why you install other packages to provide the same functionality like this package 😄

[2017-09-30 02:47] darrenterhune commented on #70
I would also say that's the themes problem for sure, not this package. This package is simply a language package. If you like dark themes, try:

UI Theme: Atom Dark
Syntax Theme: Solarized Dark

It's really awesome with haml 😉

[2017-09-30 03:28] darrenterhune commented on #72
I think this would be a question for what ever syntax theme you've got installed, not this language package. But as @HarlemSquirrel has mentioned, that haml doesn't seem like it's valid.

[2017-10-01 03:52] #73 closed

[2017-10-01 03:56] HarlemSquirrel commented on #71
@ezekg I just realized you asked for my `apm` username not `npm`. Duh! It is also HarlemSquirrel.
https://atom.io/users/HarlemSquirrel

[2017-10-02 18:26] FunkyloverOne commented on #72
@HarlemSquirrel That is very strange, as that code actually works perfectly, and there is almost same example (but method name doesn't include question mark) in the official documentation, here: http://haml.info/docs/yardoc/file.REFERENCE.html#ruby-interpolation-
(scroll down a bit for example with _filters_)
And this resource: https://haml2erb.org/ is converting that code using herbalizer, though

[2017-10-02 18:35] HarlemSquirrel commented on #72
@FunkyloverOne It does seem like you've identified an inconsistency within Haml itself. It seems to me that it should be valid given https://stackoverflow.com/questions/10542354/what-are-the-restrictions-for-method-names-in-ruby

But,` haml-lint` does seem to be aligned with the haml parser on this one.

[2017-10-02 19:49] ezekg commented on #71
Could you delete your fork of this repo so that I can transfer ownership? Apparently if I transfer the repo to you, `apm` will follow suite.

[2017-10-03 12:38] HarlemSquirrel commented on #71
@ezekg OK I just deleted my fork.

[2017-10-03 15:22] ezekg commented on #71
Sweet. Sent a transfer request. You should be able to publish a new version with `apm publish {major|minor|patch}` after you accept. Thanks again for helping out! 😃

[2017-10-03 17:06] HarlemSquirrel commented on #71
Since we have two commits in I'm going to give it a try and release a new patch version.

[2017-10-03 17:19] HarlemSquirrel commented on #71
@ezekg
I tagged a new version in here but it doesn't look like I have access through `apm`.
https://atom.io/packages/language-haml

[2017-10-03 18:20] ezekg commented on #71
What is the error you're getting?

[2017-10-03 19:07] HarlemSquirrel commented on #71
Here's the logs
[code]

[2017-10-03 19:09] HarlemSquirrel commented on #71
I just saw the package.json update. I'll try again

[2017-10-03 19:12] HarlemSquirrel commented on #71
I think the issue is that I manually updated `package.json` but `apm publish --help` indicates that apm does this for me.

created and the package.json file is updated with that new version before
it is published to the apm registry.

[2017-10-03 19:19] ezekg commented on #71
Yeah, `apm` will update the version for you. I would revert that commit and try again.

[2017-10-03 19:21] ezekg commented on #71
Looks like you already figured it out. Sweet!

[2017-10-03 19:39] HarlemSquirrel commented on #71
@ezekg Yup that's what I did and it seems to have worked. Atom now shows the update is ready.
Thank you!

[2017-10-03 20:09] ezekg commented on #71
No problem! 👍

[2017-10-03 20:09] #71 closed

[2017-11-15 22:07] ezekg commented on #72
Maybe it's because an instance variable (or any variable) can't include `?` in Ruby, only method names can include `?`. Your `@boolean_method?` is actually a variable, not a method (seeing as it starts with `@`, which suggests an instance variable).

[code]

[2017-11-16 12:11] FunkyloverOne commented on #72
@ezekg good catch, I've made a mistake in that example, excuse me, here's the correct one:
![screenshot from 2017-11-16 14 09 53](https://user-images.githubusercontent.com/6454731/32890527-d66f41ec-cad7-11e7-950a-79cf1f75230f.png)

And here's same with commented out script:
![screenshot from 2017-11-16 14 10 54](https://user-images.githubusercontent.com/6454731/32890566-fa83fdac-cad7-11e7-8a1e-58a

[2017-12-23 20:53] rubydesign opened #76 "ruby2js filter"
I've been using atom + haml in all my rails projects for years, so am basically addicted :-)

Now i am coding more js, mostly snippets in haml, and have got Sam Ruby's excellent [ruby2js](https://github.com/rubys/ruby2js) to work with haml. It basically lets you write ruby syntax but it transforms it one to one to js. So ruby syntax, js semantics.

Basically i would like a ruby2js highlighting. Th

[2017-12-27 17:40] HarlemSquirrel commented on #76
Hello @dancinglightning ruby2js sounds pretty cool! Could you provide a Haml sample with ruby2js for us to test out? A screenshot of it not working would be helpful too!

[2017-12-27 17:49] dancinglightning commented on #76
Hi @HarlemSquirrel
I have been writing js and only testing the ruby2js (doing vue, which is fun). In short nothing is committed - no show :-(

But it really is just ruby. Sam uses the ruby parser library to do his thing, so it is 100% pure ruby. Basically you can use the existing ruby filter and just make it work for :ruby2js as well.

The reason i have not committed is that it is just impossible

[2018-01-01 17:59] HarlemSquirrel commented on #76
@dancinglightning I cannot see that file you linked. Are you able to create a gist or share another file? I'll need something to test if it's working when I go to make a change.

[2018-01-01 22:03] dancinglightning commented on #76
@HarlemSquirrel Yeah, i just moved the repository. Here is the current link
https://github.com/dancinglightning/ruby_clerks/blob/master/app/views/manage/reports.html.haml

But this is the JS that i *want* to transform. Because of lack of high-lightning i have no live code. But it really is just ruby.

[2018-01-04 16:39] HarlemSquirrel commented on #76
I need at least a small sample to test against. Can you convert a small portion of the code you linked above? You could just paste it here in a snippet or as a gist. You said you got it working with haml so you must have something to share? Thanks!

[2018-01-05 12:50] dancinglightning commented on #76
Hi,
i made a branch for you. https://github.com/dancinglightning/ruby_clerks/blob/ruby2js/app/views/products/index.html.haml

The required setup can be seen here https://github.com/dancinglightning/ruby_clerks/commit/86cf17b79dd56c9dc0e04e0cdc5d12291751692a#diff-24e48b03fe1af54ed14762acf44a906a

[2018-01-05 20:37] HarlemSquirrel commented on #76
Ah OK, now I see. Thank you for that. You want highlighting under a `:ruby2js` to be ruby highlighting. I think I've got it.

Could you copy the changes in my pull request into your `~/.atom/packages/language-haml/grammars/ruby haml.cson`, reload the window, and let me know if it works?

[2018-01-06 17:31] dancinglightning commented on #76
@HarlemSquirrel thanks, but no luck.
Bit tricky with the space in the name, but figured it, then fixed whitespace (not sure if needed) and to make sure, downloaded the file completely.
But no luck

[2018-01-06 18:47] HarlemSquirrel commented on #76
@dancinglightning Sorry, I pushed up a mistake which I've now fixed on that branch.
Could you try again? Thanks!

[2018-01-07 14:54] dancinglightning commented on #76
@HarlemSquirrel sweet, thanks

[2018-02-08 21:48] duien commented on #72
I just ran into this same issue -- if I have a question-mark inside a non-quoted interpolation syntax highlighting is broken for the rest of the file. Looking at the CSS classes Atom is generating, it appears that the overall grammar doesn't reset back to Haml at the end of the JS block, but instead continues to try to syntax highlight the rest of the file as if it were JS as well.

[2018-02-08 22:01] duien commented on #72
Looking into this a bit more, I suspect that the root of the issue is that when including the `source.js` grammar for that section, the JS grammar has no concept of Ruby's interpolation syntax. Therefore, the question mark is getting highlighted as a ternary operator and then the fact that there's no following `:` in its scope messes up the rest of the grammar. You can (to some extent) verify this

[2018-02-08 22:36] darrenterhune commented on #72
Could just do something like this instead:

[code]

[2018-02-09 14:15] HarlemSquirrel commented on #72
I am still concerned about changing our syntax highlighting when the Haml parser itself says this is invalid. I just tried these examples again with Haml 5.0.4 with the same results.

Has anyone attempted to raise an issue at the https://github.com/haml/haml repo?

[2018-03-27 23:02] HarlemSquirrel commented on #76
@rubydesign So this branch works for you? If so I can merge this in and deploy a proper release.

[2018-04-02 20:58] Throne3d commented on #76
Should this be closed, now #77 is merged?

[2018-04-03 03:02] #76 closed

[2018-04-24 02:50] #68 closed

[2018-04-24 02:51] #70 closed

[2018-04-24 03:00] HarlemSquirrel commented on #72
This appears to not be valid Haml still as of Haml 5.0.4

[code]

I don't think we need to address this here until it's valid in Haml.

[2018-04-24 03:00] #72 closed

[2018-05-14 06:05] gaelant opened #79 "Getting Internal Server Error 500 when trying to install"
Hey all - cannot install this ATOM plug-in without getting an error:

I am running on MACOSX High Sierra.

[2018-05-20 17:37] HarlemSquirrel commented on #79
What version of Atom are you using?
Could you try the following to see if you can download the tarball?

[code]

[2018-10-18 11:38] HarlemSquirrel commented on #79
@gaelant Are you still having this issue?

[2018-10-18 12:03] gaelant commented on #79
Nope, apologies for my lack of response.

[2018-10-18 12:03] #79 closed

[2019-01-24 15:57] bo-oz opened #81 "Could you add .inky-haml extentsion to the filetype list?"
Or is this somthing I can configure myself? Would be great to add Inky-Haml support.

[2019-01-26 03:20] HarlemSquirrel commented on #81
I'm not familiar with [Inky-Haml](https://github.com/zurb/inky-rb) but it sounds fun!

Does syntax highlighting work if you select Haml manually in Atom?

[2019-01-26 10:12] bo-oz commented on #81
If I change the file type to Haml, syntax highlighting works like a charm. Only that won’t render the template correctly in rails. So it would be nice if you could target additional file types or at least .inky-haml!

[2019-01-28 02:51] #81 closed

[2019-01-28 03:09] HarlemSquirrel commented on #81
[v0.32.1 ](https://github.com/HarlemSquirrel/language-haml/releases/tag/v0.32.1) should have this working now.

[2019-01-28 17:38] bo-oz commented on #81
You are the man! Thanks a million. Makes my life so much easier 👍